---
interface Props {
  title: string;
  mode?: "dark" | "light";
  svg?: string;
  png?: string;
  assetName: string;
  class?: string;
  deprecated?: boolean;
  hideBorder?: boolean;
}

const {
  title,
  mode,
  svg,
  png,
  assetName,
  class: className,
  deprecated,
  hideBorder,
} = Astro.props;
---

<article class={`card sl-flex ${hideBorder ? "no-border" : ""}`}>
  <div
    class={`card-asset ${mode ? `card-asset--${mode}` : ""} ${className || ""}`}
  >
    <img src={`${assetName}`} alt="" class="inline" />

    {
      deprecated && (
        <svg
          class="deprecated-icon"
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m11.998 2c5.517 0 9.997 4.48 9.997 9.998 0 5.517-4.48 9.997-9.997 9.997-5.518 0-9.998-4.48-9.998-9.997 0-5.518 4.48-9.998 9.998-9.998zm-6.515 4.544c-1.237 1.476-1.983 3.378-1.983 5.454 0 4.69 3.808 8.497 8.498 8.497 2.075 0 3.977-.745 5.454-1.983zm13.029 10.908c1.238-1.477 1.983-3.379 1.983-5.454 0-4.69-3.807-8.498-8.497-8.498-2.076 0-3.978.746-5.454 1.983z"
            fill-rule="nonzero"
          />
        </svg>
      )
    }
  </div>
  <div class="card-content">
    {
      title && (
        <p class="title sl-flex">
          <span set:html={title} />
        </p>
      )
    }
    <div class="body"><slot /></div>
    {
      svg || png ? (
        <div class="button-container">
          {svg && (
            <a href={svg} class="button" target="_blank" download>
              SVG
            </a>
          )}
          {png && (
            <a href={png} class="button" target="_blank" download>
              PNG
            </a>
          )}
        </div>
      ) : null
    }
  </div>
</article>

<style>
  @layer starlight.components {
    .card {
      --sl-card-border: var(--sl-color-purple);
      --sl-card-bg: var(--sl-color-purple-low);
      border: 1px solid var(--sl-color-gray-5);
      background-color: var(--sl-color-black);
      flex-direction: column;
    }
    .card.no-border {
      border: none;
    }
    .card:nth-child(4n + 1) {
      --sl-card-border: var(--sl-color-orange);
      --sl-card-bg: var(--sl-color-orange-low);
    }
    .card:nth-child(4n + 3) {
      --sl-card-border: var(--sl-color-green);
      --sl-card-bg: var(--sl-color-green-low);
    }
    .card:nth-child(4n + 4) {
      --sl-card-border: var(--sl-color-red);
      --sl-card-bg: var(--sl-color-red-low);
    }
    .card:nth-child(4n + 5) {
      --sl-card-border: var(--sl-color-blue);
      --sl-card-bg: var(--sl-color-blue-low);
    }
    .card-asset {
      aspect-ratio: 16/9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      padding: calc(100% / 6);
      position: relative;
    }
    .card-asset.no-bgc {
      background-color: transparent;
    }
    .card-asset.basic {
      padding: 0;
      aspect-ratio: initial;
    }
    .card-asset.basic img {
      max-height: 100% !important;
    }
    .card-asset img {
      margin: 0 auto;
    }
    .card-asset.stacked img {
      max-width: 60%;
    }
    .card-asset.logomark img {
      max-width: 40%;
    }
    .card-asset--dark {
      background-color: #000;
    }
    .deprecated-icon {
      width: 2rem;
      height: 2rem;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      fill: var(--sl-color-red);
      z-index: 10;
      margin: 0;
    }
    .card-content {
      margin: 0;
    }
    .card-content:has(.title),
    .card-content:has(p) {
      padding: clamp(1rem, calc(0.125rem + 2vw), 2rem);
    }
    .title {
      font-weight: 600;
      font-size: var(--sl-text-h4);
      color: var(--sl-color-white);
      line-height: var(--sl-line-height-headings);
      gap: 1rem;
      align-items: center;
      margin: 0;
    }
    .card:has(.title) .body:has(p) {
      margin-top: 1rem;
    }
    .card .body {
      margin: 0;
      font-size: clamp(
        var(--sl-text-sm),
        calc(0.5rem + 1vw),
        var(--sl-text-body)
      );
    }
    .button-container {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
    }
    .card-content a.button {
      display: block;

      border: 1px solid var(--sl-color-white);
      border-radius: 40px;
      padding: 0.25rem 1rem;
      text-decoration: none;
    }
  }
</style>
